<div class="auth-container">
  <h1>Sign in</h1>

  @if (errorMessage()) {
    <p class="error">{{ errorMessage() }}</p>
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      Email
      <input type="email" formControlName="email" />
    </label>
    <label>
      Password
      <input type="password" formControlName="password" />
    </label>
    <button appButton  type="submit" [disabled]="isLoading() || form.invalid">Sign In</button>
  </form>

  <p>Don't have an account? <a [routerLink]="routes.authRegister">Register</a></p>
</div>
